@charset "utf-8";

/* CSS Document */





.boton_principal

{

filter:alpha(opacity=100); 

-moz-opacity: 1.0; 

opacity: 1.0;

}



.boton_principal:hover

{

filter:alpha(opacity=80); 

-moz-opacity: 0.8; 

opacity: 0.8;

}



body

{

	background-image: url(/parquesur/images/fondoliso.png);

	color:white;

	padding-top: 150px;

}

	

.interfaz

{

font-family: 'Montserrat', sans-serif;

font-weight:bold;

font-size:14px;

}



.navbar

{

	background-color:white;

}













.cajas

{

	background-color:#ffffff;

-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

border-radius: 10px 10px 10px 10px;

-moz-border-radius: 10px 10px 10px 10px;

-webkit-border-radius: 10px 10px 10px 10px;

border: 0px solid #000000;

color:black;

padding:20px 30px 20px 30px;

}



.cursorManito
{
    cursor: pointer;
}